.profile-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-back-button{
    display: flex;
    align-items: center;
    color: black;
    border: none;
    outline: none;
    background: none;
    position: absolute;
    left: 54px;
    top: 23px;  
}

.profile-back-button svg{
    margin-right: 12px;
}

.profile-back-button span{
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
}

.profile{
    margin-top: 75px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    max-width: 415px;
}

.profile img{
    width: 100%;
    max-width: 300px;
    max-height: 300px;
    border-radius: 50%;
    border: 5px solid #F2F2F7;

}

.profile h1{
    text-align: center;
    margin: 0;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
}

.profile-info span{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 48px 0px;
    color: #8E8E93;
    font-family: 'Roboto';
    letter-spacing: 0.15px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}

.profile-info{
    width: 100%;
}

.profile-info h2{
    margin: 0;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: #081F32;
}

.profile-info div{
    display: flex;
    color: #6E798C;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
    padding: 0px 0px 5px;
    margin-bottom: 12px;
    margin-top: 2px;
    padding-bottom: 8px;
    border-bottom: 1px solid;
}

@media (max-width: 1015px) {
    .profile-back-button{
        left: 15px;
    }
}

@media (max-width: 480px) {
    .profile-back-button{
        left: 15px;
    }

    .profile{
        width: 100%;
    }

    .profile-info{
        position: relative;
        padding: 0px 24px;
        max-width: 312px;
        padding-top: 60px;
    }

    .profile-info span{
        position: absolute;
        left: 0;
        top: 0;
        margin: 0;
        padding: 15px 0px 0px 10px;
        justify-content: flex-start;
    }

    .profile img{
        width: 150px;
        height: 150px;
    }

    .profile h1{
        font-size: 32px;
    }
}